* {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
	font-size: 15px;
	line-height: 1.5em;
	background-color: #e4e4e4;
}

.container {
	background-color: #333333;
	margin: 50px auto;
	overflow: auto;
	width: 60%;
	min-height: 650px;
}

header h1 {
	color: white;
	font-size: 22px;
	padding: 15px 0 10px 10px;
	border-bottom: 1px solid white;
}

#shouts {
	width: 90%;
	background-color: #f4f4f4;
	height: 450px;
	margin: 20px auto;
	overflow: auto;
}

.shout {
	list-style: none;
	padding: 8px;
	border-bottom: 1px dotted #c3c3c3;
}

.shout span {
	color: #aaaaaa;
}

#input {
	width: 90%;
	min-height: 80px;
	margin: auto;
	padding: 0;
}

#input input[type='text'] {
	height: 28px;
	width: 48%;
	padding: 3px;
	margin-bottom: 10px;
	border: #666666 solid 1px;
}

#input .shout-button {
	padding: 5px;
	margin-bottom: 30px;
	width: 100%;
	margin: 10px auto;
}

@media only screen and (max-width: 768px) {
	#input input[type='text'] {
	width: 98%;
}
}